$breakpoint: 500px;

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

html {
    background: #1a2400;
    color: #fff;
    font-family: 'Roboto', sans-serif;

    @media(min-width: $breakpoint) {
        line-height: 1.5;
    }
}

a {
    color: #fff;
}

@keyframes logoIn {
    from {
        width: 5%;
        opacity: 0;
    }

    to {
        width: 280px;
        opacity: 1;
    }
}

@keyframes textFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    margin: 0 20px;
}

button {
    padding: 15px;
    margin: 2px 10px;
    background: rgba(240, 255, 240, 1);
    box-shadow: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    margin: 50px auto 0;
    max-width: 550px;
    text-align: center;

    .aco-logo {
        display: flex;
        min-height: 300px;
        height: 45vh;
        align-items: center;
        justify-content: center;
        
        img {
            animation-name: logoIn;
            animation-duration: 0.2s;
            animation-timing-function: ease-in;
            max-width: 280px;
        }
    }
    
    .stack {
        display: grid;

        > * {
            grid-area: 1 / 1 / 2 / 2;
            display: none;

            &.visible {
                display: block;
            }
        }
    
        .prompt {
            opacity: 0;
            animation: textFadeIn 1s ease-in 0.1s;
            animation-fill-mode: forwards;
        }

        .actions {
            margin: 20px 0;
        }
    }

    .longText {
        @media(min-width: $breakpoint) {
            text-align: justify;
        }
    }

    .deemphasized {
        p, a {
            color: rgb(210, 230, 210);
        }
    }
}